


@import 'bootstrap/scss/bootstrap';


/* ------------------ ROOT VARIABLE ---------------------- */
:root {
  --color-primary: #7388ec;
  --color-danger: #ff7782;
  --color-success: #41f1b6;
  --color-warning: #f1bb55;
  --color-white: #fff;
  --color-info-dark: #47525f;
  --color-info-light: #dce1eb;
  --color-dark: #000000;
  --color-light: rgba(40, 43, 56, 0.18);
  --color-primary-variant: #111e88;
  --color-dark-variant: #677483;
  --color-background: #e2e2e6;
  --c-blue: rgb(45, 8, 131);

  --card-border-radius: 1.5rem;
  --border-radius-1: 0.4rem;
  --border-radius-2: 0.8rem;
  --border-radius-3: 1.2rem;

  --card-padding: 1rem;
  --padding-1: 0.8rem;

  --box-shadow: 0 2rem 3rem var(--color-light);
}


/* ------------------ GLOBAL ---------------------- */

[data-bs-theme = "dark"]{
  body {
    background-color: var(--bs-dark);

  }
  aside ul a.active {
    background-color: var(--bs-dark);
    color: var(--bs-white);
  }
  aside ul a.active::before{
    box-shadow: 0.5rem 0.1rem 0 var(--bs-dark);

  }
  aside ul a.active::after   {
    box-shadow: 0.5rem -0.1rem 0 var(--bs-dark);

    }
}


body {
//   background-color: var(--color-background);
  // height: 1200px ;
   margin-top: 50px;
}

a {
  list-style: none;
  font-weight: 500;
  text-decoration: none;
  color: var(--color-dark);
}

grids {
  display: grid;
  grid-template-columns: 13rem auto;
  gap: 0.5rem;
}

.bi{
  font-size: 20px;
  -webkit-text-stroke: 0.4px;
}


/* ---------------SIDE BAR-------------------- */
aside {
  height: 100%;
  width: 13rem;
  background-color: var(--color-primary);
  position: fixed;
  
}
aside .sidebar-header {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0.5rem 1rem 1rem;
}
aside .sidebar-toggle {
  display: none;
}
aside hr {
  border-bottom: 2px solid gray;
  box-shadow: 1px 0.1rem 0.1rem white;
  margin: 0;
  padding: 0;
  opacity: 1;
}
aside .sidebar-header p span {
  color: var(--c-blue);
}
aside .sidebar-header p {
  font-weight: bold;
  margin: 0 0 0 1rem;
}
aside ul {
  padding: 0;
}
aside ul a {
  display: flex;
  padding: 0.2rem 0.5rem;
  margin: 1rem 0 1rem 1rem;
  height: 2.5rem;
  align-items: center;
}
aside ul a.active {
  background-color: var(--color-background);
  border-radius: 2rem 0 0 2rem;
  color: var(--color-info-dark);
  position: relative;
}
aside ul a.active::before {
  content: '';
  width: 2.5rem;
  position: absolute;
  height: 2.5rem;
  border-radius: 0 0 1rem 0;
  background-color: transparent;
  right: 0;
  bottom: 2.5rem;
  box-shadow: 0.5rem 0.1rem 0 var(--color-background);
}
aside ul a.active::after {
  content: '';
  width: 2.5rem;
  position: absolute;
  height: 2.5rem;
  border-radius: 0 1rem 0 0;
  background-color: transparent;
  right: 0;
  top: 2.5rem;
  box-shadow: 0.5rem -0.1rem 0 var(--color-background);
}

aside a:hover {
  color: var(--color-white);
}

/* ----------MAIN -------------------- */
main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin-left: 14rem;
}

nav {
  border-bottom: 2px solid gray;
  box-shadow: 1px 0.1rem 0.1rem white;
  display: flex;
  margin: 0;
  justify-content: space-between;
  background-color: var(--color-primary);

}
nav .sidebar-toggle {
  display: none;
}



.content {
  margin: 1rem;
}
.content .card {
  margin-bottom: 1rem;
  border-radius: 0.4rem;
  font-weight: 500;
}

.content .card .card-header {
  text-align: center;
 
}
.content .card .card-body {
  padding-top: 0;
}
.content .card .card-body p {
  font-weight: 900;
  font-size: 2rem;
}
.card.product {
  background-color: rgb(148, 93, 219);
}
.content .card.product .card-header {
  background-color: rgb(91, 38, 160);
}
.card.sales {
  background-color: rgb(83, 177, 83);
}
.content .card.sales .card-header {
  background-color: rgb(19, 131, 19);
}
.card.sales-graph {
  background-color: rgb(162, 202, 162);
}
.content .card.sales-graph .card-header {
  background-color: rgb(29, 128, 29);
}
.card.customer {
  background-color: rgb(73, 83, 219);
}
.content .card.customer .card-header {
  background-color: rgb(32, 54, 182);
}
.card.orders {
  background-color: rgba(194, 216, 67, 0.767);
}
.content .card.orders .card-header {
  background-color: rgb(126, 128, 26);
}

main footer {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  width: 100%;
  border-top: 2px solid gray;
  margin-top: auto;
}

img {
  // background-image: url('../public/logo.jpg');
  height: 30px;
  width: 30px;
  // background-position: center;
  // background-repeat: no-repeat;
  // background-size: cover;
  border-radius: 50%;
}
.card {
  border-radius: 1rem;
}
form .btn {
  background-color: rgb(68, 68, 233);
  color: white;
}
form h1 {
  background-color: rgb(68, 68, 233);
  color: white;
  border-radius: 0.5rem 0.5rem 0 0;
  margin: 0 0 2rem 0;
  padding: 0 0 1rem 0;
}
.imggroup {
  position: relative;
}

@media screen and (max-width: 760px) {
  .grids {
    grid-template-columns: 1fr;
  }
  main{
    margin-left: 2px;

  }
  aside {
    position: fixed;
    top: 0;
    z-index: 1;
    height: 100vh;
  }
  .hide {
    display: none;
  }
  .sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .sidebar-header p {
    margin: auto 0;
  }
  aside .sidebar-toggle {
    display: inline;
  }

  aside ul a.active::before {
    display: none;
  }
  aside ul a.active::after {
    display: none;
  }

  aside .sidebar-toggle {
    cursor: pointer;
    margin: 0;
    padding: 0 3px;
  }
  aside .sidebar-toggle:hover {
    transform: scale(0.98);
    cursor: pointer;
    color: var(--c-blue);
    border-color: rgb(199, 199, 199);
    
  }

  nav .sidebar-toggle {
    display: inline;
  }
}

