

@import 'bootstrap/scss/bootstrap';


/* ------------------ ROOT VARIABLE ---------------------- */
:root {
  --color-primary: #7388ec;
  --color-danger: #ff7782;
  --color-success: #41f1b6;
  --color-warning: #f1bb55;
  --color-white: #fff;
  --color-info-dark: #47525f;
  --color-info-light: #dce1eb;
  --color-dark: #000000;
  --color-light: rgba(40, 43, 56, 0.18);
  --color-primary-variant: #111e88;
  --color-dark-variant: #677483;
  --color-background: #e2e2e6;
  --c-blue: rgb(45, 8, 131);

  --card-border-radius: 1.5rem;
  --border-radius-1: 0.4rem;
  --border-radius-2: 0.8rem;
  --border-radius-3: 1.2rem;

  --card-padding: 1rem;
  --padding-1: 0.8rem;

  --box-shadow: 0 2rem 3rem var(--color-light);
}


/* ------------------ GLOBAL ---------------------- */

[data-bs-theme = "dark"]{
  body {
    background-color: var(--bs-dark);

  }
  aside ul a.active {
    background-color: var(--bs-dark);
    color: var(--bs-white);
  }
  aside ul a.active::before{
    box-shadow: 0.5rem 0.1rem 0 var(--bs-dark);

  }
  aside ul a.active::after   {
    box-shadow: 0.5rem -0.1rem 0 var(--bs-dark);

    }
}


body {
   margin-top: 50px;
}

a {
  list-style: none;
  font-weight: 500;
  text-decoration: none;
  color: var(--color-dark);
}

.bi{
  font-size: 20px;
  -webkit-text-stroke: 0.4px;
}

form .btn {
  background-color: rgb(68, 68, 233);
  color: white;
}
form h1 {
  background-color: rgb(68, 68, 233);
  color: white;
  border-radius: 0.5rem 0.5rem 0 0;
  margin: 0 0 2rem 0;
  padding: 0 0 1rem 0;
}